.container-fluid{
    padding:0px;
}
.side-bar{
    width: 18%;
    float: left;
    height: 100vh;
    background: #056839;
    position: fixed;
}
.side-bar .cover-logo{
    background: url(../images/bg-logo.png) no-repeat 100% 100%;
    text-align: center;
    width: 100%;
}
.side-bar .cover-logo img{
    margin-top: 30px;
    margin-bottom: 35px;
    width:60%;
}
.side-bar .menu-bar{
    background: #056839;
    padding-top: 15px;
    float: left;
}
.side-bar .menu-bar ul{
    list-style: none;
    padding: 0px;
}
.side-bar .menu-bar ul li{
    width: 100%;
    float: left;
}
.side-bar .menu-bar ul li.parent a{
    background: url(../images/icon-arrow-right.png) #fffbce no-repeat 90% 50%;
    float: left;
    width: 100%;
    color: #000;
    margin: 4px 0px;
    padding: 10px 0px 10px 15px;
    text-decoration: none;
}
.side-bar .menu-bar ul li ul{
    display: none;
}
.side-bar .menu-bar ul li ul li.child a{
    background: url(../images/arrow-child.png) no-repeat 5% 50%;
    float: left;
    width: 100%;
    color: #c5d4cb;
    margin: 4px 0px;
    padding: 0px 0px 0px 40px;
    text-decoration: none;
}
.side-bar .private-page{
    background: #ffde57;
    float: left;
    color: #056839;
    padding: 14px 0px 7px 0px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin: 15px 0px;
    bottom: 0;
    left: 0;
    font-weight: bold;
    position: absolute;
}
.side-bar .private-page img{
    margin-bottom: 15px;
}
.content-right{
    float: right;
    width: 82%;
    padding: 0px 1%;
}
.content-right .first-top{
    float: left;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.content-right .first-top .one{
    width: 38%;
    background: url(../images/bg-caro.png);
    float: left;
    border: 1px solid #cdcdcd;
    border-top: none;
    position: relative;
}
.content-right .first-top .one .why-invest{
    float: left;
}
.content-right .first-top .one .why-invest .img-header{
    width: 100%;
}
.content-right .first-top .one .why-invest .icon-why-invest{
    float: left;
    width: 65%;
    margin: 20px 0px 5px 4%;
}
.content-right .first-top .date-author{
    float: left;
    width: 100%;
    color: #999;
    margin-left: 4%;
    font-size: 12px;
}
.content-right .first-top .one .slide-why-invest {
    float: left;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}
.content-right .first-top .two{
    float: left;
    width: 62%;
}
.content-right .first-top .two .item-service{
    width: 48%;
    float: left;
    border: 1px solid #cdcdcd;
    border-top: none;
    margin-left: 2%;
    background: url(../images/bg-caro.png);
}
.content-right .first-top .two .item-service .cover-title{
    float: left;
    width: 96%;
    margin: -25px 2%;
    background: url(../images/bg-caro-title.png);
    padding: 8px;
    color: #ba9e2b;
}
.content-right .first-top .two .item-service .cover-title img:hover{
    opacity: 0.7;
}
.content-right .first-top .two .item-service .cover-title .img-title-01{
    width: 63%;
    margin-bottom: 5px;
}
.content-right .first-top .two .item-service .cover-title .img-title-02{
    width: 75%;
    margin-bottom: 5px;
}
.content-right .first-top .two .item-service .cover-title .img-title-03{
    width: 75%;
    margin-bottom: 5px;
}
.content-right .first-top .two .item-service .cover-title .img-title-04{
    width: 45%;
    margin-bottom: 5px;
}
.content-right .first-top .two .item-service .cover-title .right-p{
    text-align: right;
    margin-left: 0px;
}
.content-right .first-top .two .item-service .cover-content-item{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
.content-right .first-top .two .item-service .cover-content-item ul{
    list-style: none;
    margin-left: 20px;
    padding: 0px;
}
.content-right .first-top .two .item-service .cover-content-item ul li{
    line-height: 31px;
    width: 100%;
    float: left;
}
.content-right .first-top .two .item-service .cover-content-item ul li input{
    margin-right: 3px;
    float: left;
}
.content-right .first-top .two .item-service .cover-content-item ul li span{
    margin-top: -5px;
    float: left;
}
.content-right .first-top .two .item-service .view-more{
    float: right;
    color: #000;
    background: url(../images/border-bottom-view-more.png) no-repeat 100% 100%;
    margin-right: 10px;
    text-decoration: none;
}
.content-right .first-top .two .item-service .view-more:hover{
    color: #056839;
}
.content-right .first-top .two .item-service .cover-content-item .icon-item{
    float: left;
    width: 33.3%;
    font-size: 13px;
    text-align: center;
}
.content-right .first-top .two .item-service .cover-content-item .icon-item img{
    width: 45px;
}
.content-right .first-top .two .item-service .cover-content-item .icon-item p{
    margin: 0px;
}
.content-right .first-top .two .item-service .img-service{
    float: left;
    width: 100%;
}
.content-right .first-top .two .up{
    float: left;
    display: flex;
    margin-bottom: 2%;
}
.content-right .first-top .two .bottom{
    float: left;
    display: flex;
}
.content-right .first-top .two .item-service .cover-content-item h4{
    color: #707070;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}
.content-right .first-top .two .item-service .cover-content-item h4 img{
    margin-right: 5px;
    width: 20px;
    margin-left: 10px;
    margin-top: -10px;
}
.content-right .first-top .two .item-service .cover-content-item .p-service{
    padding: 10px;
    margin: 0px;
    font-size: 13px;
}
.content-right .second-bottom{
    text-align: center;
    float: left;
    width: 101%;
}
.content-right .second-bottom .img-slogan{
    width: 90%;
    margin-top: 15px;
}
.content-right .second-bottom .item-thong-diep{
    float: left;
    width: 49%;
    margin: 1% 1% 0 0;
    position: relative;
}
.content-right .second-bottom .item-thong-diep .left{
    float: left;
    width: 40%;
    background: #737373;
    color: #fff;
    position: absolute;
}
.content-right .second-bottom .item-thong-diep .left img{
    width: 100%;
    float: left;
}
.content-right .second-bottom .item-thong-diep .left p{
    float: left;
    width: 100%;
    margin: 7px 0px -2px 0px;
}
.content-right .second-bottom .item-thong-diep .left span{
    font-size: 12px;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.content-right .second-bottom .item-thong-diep .right{
    float: left;
    width: 60%;
    margin-left: 40%;
}
.content-right .second-bottom .item-thong-diep .right .cover-p-thong-diep{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.content-right .second-bottom .item-thong-diep .right .cover-p-thong-diep .phay-left{
    float: left;
    position: absolute;
    top: 0;
    width: 13px;
    left: 5px;
}
.content-right .second-bottom .item-thong-diep .right .cover-p-thong-diep .phay-right{
    float: right;
    position: absolute;
    bottom: 5px;
    right: 3px;
    width: 13px;
}
.content-right .second-bottom .item-thong-diep .right .cover-p-thong-diep p{
    color: #056839;
    margin: 0px 24px;
    text-align: left;
    font-size: 15px;
}
.content-right .second-bottom .item-thong-diep .right .p-content-thong-diep{
    background: #f8f3db;
    float: left;
    padding: 10px;
    line-height: 24px;
    text-align: justify;
    margin-left: -20%;
    font-size: 13px;
    padding-left: 23%;
}
.content-right .title-header{
    float: left;
    width: 100%;
    padding: 13px 0px;
}
.content-right .title-header .title-root{
    font-size: 22px;
    float: left;
    padding: 7px 10px 5px 0px;
    margin: 0px;
    font-family: serif;
}
.content-right .title-header .title-after{
    font-size: 22px;
    float: left;
    color: #056839;
    border-left: 4px solid;
    padding: 7px 10px 5px 10px;
    margin: 0px;
    font-family: serif;
}
.content-right .title-header .span-date-update{
    float: left;
    margin-top: 17px;
    font-size: 12px;
    color: #6d6d6d;
}
.content-right .p-about-header{
    border: 1px solid #bbbbbb;
    background: url(../images/bg-caro.png);
    float: left;
    width: 100%;
    padding: 8px 10px;
    line-height: 24px;
    color: #2d2d2d;
    font-size: 13px;
}
.content-right .doi-tac{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.content-right .doi-tac .cover-title-dau-tu{
    border-bottom: 1px solid #6f6f6f;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.content-right .doi-tac .cover-title-dau-tu .title-item-dau-tu{
    background: url(../images/bg-title-about.png) #6f6f6f no-repeat 100% 100%;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px 6px 10px;
    float: left;
    margin: 0px;
}
.content-right .doi-tac .branch-dau-tu{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.content-right .doi-tac .branch-dau-tu img{
    float: left;
    height: 10vw;
    margin-left: 6%;
    min-height: 110px;
}
.content-right .nhan-su{
    float: left;
    width: 101%;
    margin-bottom: 12px;
}
.content-right .nhan-su img{
    width: 32.1%;
    margin-right: 1%;
}
.content-right .about-up{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.content-right .about-up .item-about{
    float: left;
    width: 48%;
}
.content-right .about-up .item-about .cover-title-item-about{
    border-bottom: 1px solid #6f6f6f;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.content-right .about-up .item-about .title-item-about{
    background: url(../images/bg-title-about.png) #6f6f6f no-repeat 100% 100%;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px 6px 10px;
    float: left;
    margin: 0px;
}
.content-right .about-up .item-right{
    float: right;
    margin-right: 0px;
}
.content-right .about-up .item-about p{
    text-align: justify;
    line-height: 24px;
    font-size: 13px;
    margin: 4px 0px;
}
.content-right .about-up .item-about ul{
    list-style: none;
    float: left;
    padding: 0px;
    margin-top: 10px;
}
.content-right .about-up .item-about ul li{
    float: left;
    width: 100%;
    line-height: 33px;
}
.content-right .about-up .item-about ul li img{
    width: 22px;
    float: left;
    margin-right: 4px;
}
.content-right .about-up .item-about ul li span{
    font-size: 13px;
}
.footer{
    background: #056839;
    float: left;
    width: 100%;
    font-size: 13px;
}
.footer .left{
    color: #fff;
    float: left;
    padding: 10px;
}
.footer .left p{
    margin: 0px;
}
.footer .p-right{
    float: right;
    color: #fff;
    margin-top: 20px;
    padding-right: 10px;
}
.footer .p-copyright{
    float: left;
    width: 100%;
    color: #000;
    margin: 0px;
    padding: 6px 10px;
    background: #dcdcdc;
}